* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.logo img {
  width: 400px;
  height: auto;
}
.text-logo {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}
.bouton-go {
  text-align: center;
  padding-top: 10px;
}
.bouton-go a {
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 12px;
}
